{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="about-us">
            <h2>Про нас:</h2>
            <p>Ми - заклад, який спеціалізується на домашній кухні. Наша мета - забезпечити вам смачні та ситні страви, які нагадають вам про теплу атмосферу домашньої кухні.</p>

            <p>У нашому меню ви знайдете широкий вибір страв, виготовлених з використанням свіжих та якісних інгредієнтів. Ми пильнуємо за кожною деталлю, починаючи від вибору продуктів і закінчуючи наданням якісного обслуговування.</p>

            <p>Наша команда - це талановиті кухарі та привітний персонал, які з радістю працюють, щоб задовольнити ваші смакові переваги та забезпечити вам приємний досвід. Ми пишаємося тим, що створюємо атмосферу затишку та комфорту, де ви можете насолоджуватися смачною їжею у відпочивальній атмосфері.</p>

            <p>Запрошуємо вас завітати до нас та насолодитися смаком нашої домашньої кухні. Ми гарантуємо, що кожен відвідувач буде отримувати найкраще обслуговування та насолоджуватися неперевершеним смаком кожної страви.</p>
          </div>
    </div>
</div>
{% endblock content %}
