{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="dish">
            <div class="col-md-6">
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="dish-title">{{ dish.name }}</h2>
                <p class="dish-description">{{ dish.description }}</p>
                <p class="ingredients">Складові: {{ dish.ingredients }}</p>
                <p class="dish-category">Категорія: {{ dish.category }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
