{% extends 'base.html' %}

{% block title %}Головна{% endblock title %}

{% block content %}
<div class="container-fluid my-5">
  <h1 class="text-center our-dish">Нашi <span class="text-danger">страви</span></h1>
  <div class="row mt-5">
    <div class="owl-carousel owl-theme">
      {% for dish in dish_list %}
        <div class="item mb-4">
          <div class="card border-0 shadow">
            <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top">
            <div class="card-body">
              <h4 class="dish-title-carousel">{{ dish.name }}</h4>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
