{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for dish in dish_list %}
        <div class="dish">
            <img class="dish-image" src="{{ dish.image.url }}" alt="{{ dish.name }} Image">
            <h3 class="dish-title">{{ dish.name }}</h3>
            <p class="dish-description">
                {{ dish.description }}
            </p>
            <p class="dish-price">{{ dish.price }}₴</p>
            <button class="btn btn-primary">Детальніше</button>
          </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock content %}
